/* Главная точка входа CSS - импорт всех стилей */

/* Глобальные анимации */
@import './animations.css';

/* Глобальные стили и переменные */
@import './global.css';

/* Макет и структура приложения */
@import './layout.css';

/* Стили компонентов */
@import './components.css';

/* Страницы аутентификации */
@import './auth.css';

/* Всплывающие уведомления (Toast) */
@import './Toast.css';

/* Уведомления инструментов */
@import './ToolsNotification.css';
